@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    user-select: none;
    font-family: Poppins;
    border: none;
    outline: none;
    transition: 0.2s;
}
body{
    margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent background image overflow */
  background-image: url('/Textures/bg.png');
  background-size: cover;
  background-position: center;
}
.chat_latest{
    position: absolute;
    bottom: 5px;
    left: 5px;
}
button{
    padding: 4px 8px;
    border-radius: 4px;
    cursor: pointer;
}
button:hover{
    padding: 4px 8px;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#chat-container {
    /* display: none; */
    position: fixed;
    overflow-y: scroll;
    overflow-x: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.498);
    width: 100%;
    height: 100%;
}
#messages {
    list-style-type: none;
    margin: 0;
    width: 100%;
    overflow-y: scroll;
    height: fit-content;
    margin-bottom: 40px;
}
#messages li {
    padding:  5px 10px;
    margin: 10px 0;
    color: white;
    border-radius: 10px;
    background-color: #007bff;
    width: fit-content;
    max-width: 80%;
    word-wrap: break-word; /* For older browsers */
    overflow-wrap: break-word; /* For newer browsers */
}

#form{
    position: fixed;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 80%;
    border-radius: 10px;
}

#form input {
    min-width: 100%;
    padding: 5px 15px;
    border-radius: 10px;
}

.draggable1 {
    width: auto;
    height: 30px;
    border: 5px solid red;
    border-radius: 5px;
    position: absolute;
    cursor: move;
    transition: none;
}
.draggable2 {
    width: auto;
    height: 30px;
    border: 5px solid #007bff;
    border-radius: 5px;
    position: absolute;
    cursor: move;
    transition: none;
}
.draggable3 {
    width: auto;
    height: 30px;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 5px;
    position: absolute;
    cursor: move;
    transition: none;
}
.playerblocker{
    position: absolute;
    top: 0;
    left: 0;
    right:0;
    bottom: 0;
    background-color: black;
    opacity: 0.8;
}
.playerCount{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.playerblocker .f_f{
    color: white;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.team1, .team2, .team3{
    position: absolute;
    width: fit-content;
    height: fit-content;
}
.team1{
    top: 20px;
    left: 20px;
}
.team2{
    top: 20px;
    right: 20px;
}
.team3{
    bottom: 20px;
    right: 20px;
}
.team1 button, .team2 button, .team3 button{
    color: white;
}
.team1 button{
    background-color: red;
}
.team2 button{
    background-color: #007bff;
}
.team3 button{
    background-color: black;
}
.controls{
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
}
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #007bff;
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background: transparent;
}
#summons1, #summons2, #summons3{
    position: absolute;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 5px;
    border-top: 18px solid #007bff;
    transition: none;
    width: fit-content;
    height: fit-content;
    z-index: 999;
}
#summons1{
    top: 0;
    left: 0;
    border-top: 18px solid red;
}
#summons2{
    top: 0;
    right: 0;
    border-top: 18px solid #007bff;
}
#summons3{
    bottom: 0;
    right: 0;
    border-top: 18px solid black;
}
.b-1, .b-2, .b-3{
    color: white;
}
.b-1{
    background-color: red;
}
.b-2{
    background-color: #007bff;
}
.b-3{
    background-color: black;
}
.b-1:hover{
    background-color: red;
}
.b-2:hover{
    background-color: #007bff;
}
.b-3:hover{
    background-color: black;
}
.hidden {
    display: none;
}
#summon button{
    margin-top: 2px;
}